.row{
    padding: 20px;
}
.caja{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
.img1{
    opacity: 1;
    transition: 1s;
    border-radius: 10px;

}
.img1:hover{
    filter: opacity(.5);
}