<div class="row">
    <hr>
    <h1 class="titulo">Experiencia Laboral</h1><br><br><br><hr>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/planos.png">
                    <h3>Ayudante <br> de <br> Carpintero</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content text-center">
                    <h4>Nov 2018 – Abril 2019</h4><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/segurity.png">
                    <h3>Vigilador <br>“Cazadores” <br> Coop. De Trabajo</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content text-center">
                    <h4>Dic 2020- Febr 2021</h4><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                </div>
            </div>
        </div>
    </div>
</div>