<div class="row">
    <hr>
    <h1 class="text-center">Skills</h1><hr>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="95"
            [radius]="100"
            [imageSrc]="'../assets/html.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="80"
            [showSubtitle]=false
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [clockwise] = "false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [outerStrokeGradientStopColor] = "'#53a9ff'"
            [startFromZero] = "true"
            [animation]="true"
            [animationDuration]="2500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/CSS.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="90"
            [showSubtitle]=false
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [clockwise] = "false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [outerStrokeGradientStopColor] = "'#53a9ff'"
            [startFromZero] = "true"
            [animation]="true"
            [animationDuration]="2500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageWidth]="75"
            [imageHeight]="75"
            [showSubtitle]=false
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [clockwise] = "false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [outerStrokeGradientStopColor] = "'#53a9ff'"
            [startFromZero] = "true"
            [animation]="true"
            [animationDuration]="2500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="65"
            [radius]="100"
            [imageSrc]="'../assets/github.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="80"
            [showSubtitle]=false
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [clockwise] = "false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [outerStrokeGradientStopColor] = "'#53a9ff'"
            [startFromZero] = "true"
            [animation]="true"
            [animationDuration]="2500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="50"
            [radius]="100"
            [imageSrc]="'../assets/Python.png'"
            [showImage]="true"
            [imageWidth]="130"
            [imageHeight]="70"
            [showSubtitle]=false
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [clockwise] = "false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [outerStrokeGradientStopColor] = "'#53a9ff'"
            [startFromZero] = "true"
            [animation]="true"
            [animationDuration]="2500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="55"
            [radius]="100"
            [imageSrc]="'../assets/Angular.png'"
            [showImage]="true"
            [imageWidth]="80"
            [imageHeight]="80"
            [showSubtitle]=false
            [titleFontSize]="'2em'"
            [showUnits]="false"
            [clockwise] = "false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [outerStrokeGradientStopColor] = "'#53a9ff'"
            [startFromZero] = "true"
            [animation]="true"
            [animationDuration]="2500"
        ></circle-progress>
    </div>
    
    
</div>