<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="logo" title="logoAP" id="logo">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/in/leonel-herrera-242137238/"><img src="../../../assets/linkedin.png" alt="linkedin"></a>
            <a href="#"><img src="../../../assets/twitter.png" alt="twitter"></a>
            <a href="#"><img src="../../../assets/instagram.png" alt="instagram"></a>
            <a href="https://github.com/LeoHrr"><img src="../../../assets/github.png" alt="github"></a>
            <a href="#"><img src="../../../assets/facebook.png" alt="facebook"></a>
            <button type="button" class="custom-btn btn-3" (click)="login()">Ingresar</button>
        </div>
    </div>
</div>
