<div class="row">
    
    <h1 class="titulo">Experiencia Laboral</h1><br><br><br><hr>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/planos.png">
                    <h3>Trabajo 1</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h4>Tiempo</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/segurity.png">
                    <h3>Trabajo 2</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h4>Tiempo</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                </div>
            </div>
        </div>
    </div>
</div>