<div class="row">
    <hr>
    <h1 class="titulo">Formacion</h1><br><br><br><hr>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/code.png">
                    <h3>Sistemas <br> Informaticos</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content text-center">
                    <h4>2022 - Actualidad</h4><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/codigohtml.png">
                    <h3>Desarrollo <br> Web</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content text-center">
                    <h4>2021 - 2022</h4><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../assets/rep.png">
                    <h3>Tecnico de <br> PC</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content text-center">
                    <h4>2017 - 2018</h4><br>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
</div>