<div class="barra"><br><br></div>
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/MESSI-SILHOUETTE.jpg" id="profile" alt="perfil">
    </div>
    <div class="text-center col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Herrera Leonel Alejandro</p>
        <p id="skill">Full Strack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <span class="date">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, delectus dicta officia perspiciatis facilis porro alias! Possimus maiores odit fugit quis autem voluptate dolorem similique tempore, omnis at, repellat molestias.</p>
        </span>
    </div>
</div>